/* css styles */

/* Genel KaTeX boyutu (çoğunlukla satır içi formülleri etkiler) */
.katex {
  font-size: 1.1em;
}

/* style/styles.css içine eklenecek kod */

.about-animate {
  animation: slideUpFade 1.2s ease-out forwards;
  opacity: 0;
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
